body {
  padding: 0;
  margin: 0;
}

.container {
  width: 78%;
  margin: auto;
}

.nav_ul ul, .nav_ul li {
  padding: 0 60px 0 60px;
  display: inline;
}

header {
background-image: url(./Assets/header_image.jpg);
background-size: cover;
height: 100vh;
}

.nav a {
  text-decoration: none;
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fff;
}

.nav ul li a {
  text-decoration: none;
  font-family: 'Avenir', 'Helvetica', sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.04em;
}

.nav ul li a:hover {
  color: #B9E5FB;
}

.nav {
  text-align: center;
  padding-top: 50px;
}

.about_text p {
  font-family: 'Avenir', 'Helvetica', sans-serif;
  text-align: right;
  float: left;
  margin-left: 50px;
}

.about{
  margin: auto;
  margin: 200px 0 200px 0;
  padding-bottom: 300px;
}

.text_logo {
  margin: 20px 50px 0 0;
  float: right;
}

.about_text a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #000;
}

.new h1 {
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 330px;
  letter-spacing: 0.08em;
  color: #191919;
  z-index: 5;
  position: absolute;
  top: 980px;
  left: 400px;
}

.accordion {
	width: 100%;
	max-width: 1080px;
	height: 500px;
	overflow: hidden;
	margin: 50px auto;
  position: relative;
}
.accordion ul{
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}
.accordion ul li{
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.666%;
	height: 500px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 500ms ease;
  border: 10px solid #fff; /* Adjust for spacing */
}
.accordion ul li div{
	display: block;
	overflow: hidden;
	width: 100%;
}
.accordion ul li div a{
	display: block;
	height: 500px;
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom:
	padding: 15px 20px;
	box-sizing: border-box;
	color: #000;
	text-decoration: none;
	font-family: 'Avenir', Helvetica, sans-serif;
	transition: all 200ms ease;
}
.accordion ul li div a *{
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: relative;
	z-index: 5;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}
.accordion ul li div a h2{
	font-family: 'Avenir', Helvetica, sans-serif;
	text-overflow: clip;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 2px;
	top: 400px;
}
.accordion ul li div a p{
	top: 400px;
	font-size: 13.5px;


}
.accordion ul li:nth-child(1){
	background-image: url("./Assets/slide_1_copy.jpg");
}
.accordion ul li:nth-child(2){
	background-image: url("./Assets/slide_2.jpg")
}
.accordion ul li:nth-child(3){
	background-image: url("./Assets/slide_3.jpg");
}
.accordion ul li:nth-child(4){
	background-image: url("./Assets/slide_4.jpg");
}
.accordion ul li:nth-child(5){
	background-image: url("./Assets/slide_5.jpg");
}
.accordion ul:hover li{
	width: 8%;
}
.accordion ul li:nth-child(1):hover{
	background-image: url("./Assets/fade.jpg");
}
.accordion ul li:nth-child(2):hover{
	background-image: url("./Assets/fade_2.jpg");
}
.accordion ul li:nth-child(3):hover{
	background-image: url("./Assets/fade_3.jpg");
}
.accordion ul li:nth-child(4):hover{
	background-image: url("./Assets/fade_4.jpg");
}
.accordion ul li:nth-child(5):hover{
	background-image: url("./Assets/fade_5.jpg");
}
.accordion ul:hover li:hover{
	width: 60%;
}
/*.accordion ul:hover li:hover a{
	background: rgba(0, 0, 0, 0.4);
}*/

.accordion ul:hover li:hover a *{
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
@media screen and (max-width: 600px){
	body{
		margin: 0;
	}
	.accordion{
		height: auto;
	}
	.accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover{
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		-webkit-transition: none;
		transition: none;
	}
}

h2, p {
  padding-left: 10px;
}
.feature {
  display: flex;
  align-items: center;
  margin: 250px 0 200px 0;
}

.feature h1 {
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 330px;
  letter-spacing: 0.08em;
  color: #191919;
  z-index: -5;
  position: absolute;
  top: 1880px;
}

.feature_image img {
  width: 600px;
  height: auto;
  z-index: 5;
  margin: 250px -100px 0 0;
}

.feature_image, .Artists {
    margin: auto;
}

.feature p {
  padding: 0;
  margin: 0;
  font-family: 'Avenir', 'Helvetica', sans-serif;
  font-size: 14px;
  position: relative;
  margin: 410px 80px 0 0;
  line-height: 1.4;
}

.feature a {
  color: #000;
}

a:hover {
  color: #003462;
}

.Artists img {
  width: 100%;
}

/*ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}*/

#multiColumn {
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    column-count: 3;
    column-gap: 0;
    padding: 50px 0 50px 0;
    padding-left: 16%;
}

#multiColumn ul {
list-style-type: none;
}

#multiColumn ul, #multiColumn li {
padding: 0;
margin: 0;
font-family: 'Avenir', 'Helvetica', sans-serif;
}

#multiColumn li {
  padding: 2.8px;
}

#multiColumn a:hover {
  color: #B9E5FB;
}
#multiColumn a {
    font-weight: 100;
  color: #000;
  text-decoration: none;
}

body {
  background-image: url(./assets/footer_image.png);
  background-repeat:no-repeat;
  background-position: bottom;
  background-size: contain;

}

footer {
  height: 400px;
  font: 14px/1 "avenir", sans-serif;
  color: #fff;
  position: relative;
}

footer li {
  display: inline;
}

footer a {
  text-decoration: none;
  color: #fff;
}


.footer_icons img {
  height: 20px;
  padding-right: 2px;
}
.footer_icons {
  position: absolute;
  right: 3%;
  bottom: 40px;
}

footer .logo img {
  width: 20%;
}


.footer_text {
  padding-left: 3%;
  padding-top: 275px;
}
.footer_text li {
  padding-right: 14%;
}
